header,
section,
footer {
  width: 100%;
  position: relative;
  color: #2d2d2d;
}

header {
  position: fixed;
}

.title {
  font-size: 45px;
  font-weight: 600;
}

.title p:last-child {
  font-size: 25px;
  font-weight: 400;
}
